<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>FloralMD-Debug</string>
    <key>CFBundleDisplayName</key>
    <string>FloralMD-Debug</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>en</string>
        <string>zh-Hans</string>
    </array>
    <key>CFBundleIdentifier</key>
    <string>com.yingkaisun.floralmd.debug</string>
    <key>CFBundleExecutable</key>
    <string>floralmd-debug</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>NSAccentColorName</key>
    <string>AccentColor</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>0</string>
    <key>CFBundleShortVersionString</key>
    <string>0.0.0</string>
    <key>FloralMDBuildVariant</key>
    <string>debug</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSSupportsAutomaticTermination</key>
    <false/>
    <key>NSSupportsSuddenTermination</key>
    <false/>
</dict>
</plist>
